* {
    padding: 0;
    margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Space+Mono:wght@400;700&display=swap');

.main {
    background: linear-gradient(90deg, rgba(59, 149, 210, 1) 0%, rgba(75, 156, 211, 1) 100%);
    /* background: linear-gradient(297deg, rgba(80, 72, 200, 1) 0%, rgba(102, 109, 194, 1) 53%); */
    height: calc(100vh - 70px);
    width: calc(100vw - 70px);
    margin: 25px;
    border-radius: 50px;
    padding: 10px;
    box-sizing: content-box;
}


h1 {
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 40px;
    font-family: 'Space Mono', monospace;
    margin-bottom: 10px;
}

div.text {
    padding: 25px 250px;
    border-radius: 10px 10px 40px 40px;
    height: calc(100% - 147.6px);
    font-size: 22px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;
    line-height: 28pxpx;
}

.img-prof {
    width: 200px !important;
    height: 200px !important;
    margin-right: 100px;
    border-radius: 100px;
    object-fit: cover;
    box-sizing: content-box;
}